.bg{ 
    /*background-color: #d4e2f1;*/
    background: url('https://images.unsplash.com/photo-1517638851339-a711cfcf3279?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b7d3fd7313e179636c1189245a70534&auto=format&fit=crop&w=1650&q=80');   
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
}

.jumbotron{
	background: #358CCE;
	color: #FFF;
	margin-top: 100px;
}

.jumbotron-sm{
	padding-top: 24px;
	padding-bottom: 24px; 
}

.jumbotron small {
	color: #FFF;
}

.h1 small {
	font-size: 24px;
}

.navbar{
    background-color: #00004c;
    color: white;
}

.well{
	background-color: #2b1d0e;
	color: white;
}

#address{
    background-color: #00004c;
    border: 1px solid white;
    color: white;
}